.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #e3e9ff;
}

.container {
  width: 50%;
  height: 50%;
  background-color: white;
}

.app__title {
  display: grid;
  place-items: center;
  height: 60px;
  background-color: #af7eeb;
  color: white;
}
